@media screen and (max-width: 992px) {
  .menu-icon {
    height: 2rem;
    margin-left: 1rem;
  }

  .company_logo {
    margin-right: auto;
    margin-left: -1.5rem;
  }
  .company_logo img {
    width: 150px;
    height: 50px;
  }
  .nav-content {
    justify-content: center;
    margin: 0 auto;
  }
  .location-upper {
    display: none;
  }
  .search-input {
    width: 100%;
  }
  .animation_ {
    display: none;
  }
  .location {
    display: none;
  }
  .login span {
    display: none;
  }
  .drawer {
    width: 40%;
  }
  .category-section {
    height: 60px;
    margin-top: 1rem;
  }
  .category-slide img {
    width: 30px;
    height: 30px;
  }
  .category-slide span {
    font-size: 15px;
    padding-right: 4px;
  }
  .carousel-section {
    height: 16rem;
  }
  .carousel-slide {
    padding: 0 4px;
  }
  .carousel-slide img {
    /* margin: 0 1rem !important; */
    /* object-fit: contain; */
    height: 100%;
    width: 100%;
  }
  .swiper-button-next {
    height: 20px;
    width: 20px;
  }
  .swiper-button-prev {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .category-section {
    height: 70px;
    width: 100vw;
  }
  .category-slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-slide img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }
  .category-slide span {
    font-size: 12px;
    margin-left: 2px;
    padding-right: 2px;
  }
  .drawer {
    width: 60%;
  }
  .carousel-section {
    height: 13rem;
  }
  .swiper-button-next {
    height: 15px;
    width: 15px;
    display: none;
  }
  .swiper-button-prev {
    height: 15px;
    width: 15px;
    display: none;
  }
}

@media screen and (max-width: 368px) {
  .drawer {
    width: 80%;
  }
  .carousel-section {
    height: 10rem;
  }
  .login-form {
    width: 250px;
  }
}

/* Product Details Page */
@media (min-width: 768px) and (max-width: 992px) {
  .product-detail-badge img {
    width: 70px;
    height: 60px;
  }
  .product-detail-badge span {
    width: 50px;
    font-size: 17px;
  }
  .product-big-img {
    height: 420px;
  }
  .product-details-col h5 {
    font-size: 20px;
  }
  .product-price {
    margin-top: 20px;
    font-size: 19px;
  }
  .product-price:nth-child(1) {
    margin-top: 20px;
  }
  .product-quantity {
    margin-top: 15px;
  }
  .detais-buttons-container button {
    height: 60px;
    font-size: 15px;
  }
  .discount-message {
    font-size: 15px;
  }
  .paycard-view {
    padding: 15px;
  }
  .dealPrice-view p {
    font-size: 15px;
  }
  .youPay-view {
    margin-top: 3px;
  }
  .youPay-view h4 {
    font-size: 17px;
  }
  .delivery-message {
    margin-top: 7px;
  }
}
@media screen and (max-width: 768px) {
  .product-details-col {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 464px) {
  .product-detail-badge img {
    width: 60px;
    height: 50px;
  }
  .product-detail-badge span {
    width: 40px;
    font-size: 15px;
  }
  .product-details-col h5 {
    font-size: 18px;
  }
  .product-price {
    margin-top: 15px;
    font-size: 19px;
  }
  .detais-buttons-container button {
    height: 60px;
    font-size: 14px;
  }
}
@media screen and (max-width: 392px) {
  .detais-buttons-container button {
    height: 60px;
    font-size: 12px;
  }
}

/* My Orders */
@media screen and (max-width: 768px) {
  .myOrder-list-container {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .orders-section {
    margin-top: 1rem;
  }
  .screen-name-view h4 {
    font-size: 20px;
  }
  .pending-orders-view {
    padding: 8px 40px;
    margin-top: 8px;
  }
  .pending-orders-view h4 {
    font-size: 15px;
  }
  .order-item-view {
    margin-top: 16px;
    padding: 10px 20px;
  }
  .bag-image-view img {
    width: 45px;
    height: 55px;
  }
  .count-view {
    width: 20px;
    height: 20px;
    top: 6px;
    left: 28px;
  }
  .count-text span {
    font-size: 12px;
  }
  .content-view {
    margin-left: 20px;
  }
  .content-sub-view {
    margin-bottom: 5px;
  }
  .content-sub-view h5 {
    font-size: 14px;
  }
  .bottom-view {
    margin-top: 0.2rem;
  }
  .bottom-view p {
    font-size: 14px;
  }
  .order-image-view {
    margin-top: -8px;
  }
  .image-view img {
    height: 40px;
    width: 40px;
  }
  .view-details-btn {
    width: 130px;
    height: 35px;
    font-size: 15px;
  }
}

/* Checkout Page */
@media screen and (max-width: 592px) {
  .message-container img {
    width: 50px;
    height: 40px;
  }
  .message-content {
    margin-left: 20px;
  }
  .message-content span {
    font-weight: 500;
    font-size: 16px;
  }
  .message-content p {
    font-size: 13px;
  }
  .checkout-container{
    padding: 0;
  }
  .info-card{
    padding: 20px 10px;
  }
  .checkout-form label {
    font-size: 14px;
    color: grey;
  }
  .address-pincode-text {
    font-size: 16px;
  }
  .edit-pin-button {
    font-size: 12px;
  }
  .save-address-btn {
    font-size: 14px;
  }
  .cancel-btn {
    font-size: 14px;
  }
  .payment-card{
    padding: 20px 10px;
  }
  .payment-button-text {
    margin-left: 10px;

  }
  .payment-method-button img {
    width: 25px;
    height: 25px;
    margin-left: 0px;
  }
  .payment-method-button {
    margin-left: 0px;
    padding: 17px 10px;
  }
  .payments-confirm-button button {
    font-size: 14px;
  }
}
